
@{
    ViewBag.Title = "DodajProizvod";
}

<h2>DodajProizvod</h2>




<form action="DodajProizvod" method="post">
    <table>
        <tr>
            <td>ImeProizvoda</td>
            <td><input type="text" name="ImeProizvoda" /></td>
        </tr>
        <tr>
            <td>Cena</td>
            <td><input type="text" name="Cena" /></td>
        </tr>
        <tr>
            <td>Sastojci</td>
            <td><input type="text" name="Sastojci" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Dodaj" />
            </td>
        </tr>
    </table>
</form>








